Package: libip4tc
Version: 1.4.10-2
Depends: 
Provides: 
Source: package/iptables
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: gm812x
Installed-Size: 10461
Description:  IPv4 firewall - shared libiptc library
