#
# arch/arm/mach-faraday/platform-a360/Kconfig

comment "Platform-A360 Kernel Setting"
	depends on PLATFORM_A360

config CLOCK_TICK_RATE
	int "System timer tick rate"
	depends on PLATFORM_A360
	default 135000000
	help
	  The frequency of system clock.
	  This value is used for adjusting minor time offsets.

config SYSC
	bool "FARADAY FTSCU System Control"
	depends on PLATFORM_A360
	default y

