Package: busybox
Version: 1.18.4-1
Depends: 
Provides: 
Source: package/busybox
Section: base
Status: unknown ok not-installed
Essential: yes
Priority: optional
Maintainer: Nicolas Thill <nico@openwrt.org>
Architecture: gm812x
Installed-Size: 227611
Description:  The Swiss Army Knife of embedded Linux.
 It slices, it dices, it makes Julian Fries.
