Package: dropbear
Version: 0.53.1-3
Depends: 
Provides: 
Source: package/dropbear
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: gm812x
Installed-Size: 81672
Description:  A small SSH2 server/client designed for small memory environments.
