Package: mtd
Version: 15
Depends: 
Provides: 
Source: package/mtd
Section: utils
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: gm812x
Installed-Size: 8464
Description:  This package contains an utility useful to upgrade from other firmware or 
 older OpenWrt releases.
